* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.h1-index {
    text-align: center;
    background-color: lightblue;
    padding: 20px
}

.ul-index {
    text-align: center;
    padding: 0 auto;
    margin: 24px 0;
}

.recipe {
    background-color: lightcoral;
    display: inline-block;
    padding: 20px;
    list-style-type: none;
    margin: 3px 3px;

}

.recipe-heading {
    text-align: center;
}

.home {
    text-align: center;
    margin: 10px;
}

.recipe-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 500px; 
    height: auto;
}

.recipe-desc,
.recipe-desc-heading {
    text-align: center;
    background-color: antiquewhite;
    margin: 0;
}

.recipe-desc {
    text-align: center;
    padding: 10px 30px;
}

.recipe-sections {
    text-align: center;
}

.ingredients-section,
.steps-section {
    display: inline-block;
    vertical-align: top;
    width: 45%; 
    min-width: 250px;
    margin: 0 2%;
    text-align: left; 
    background-color: lightblue;
    margin: 0 0;
}

.ingredients-section {
    padding-left: 2.2%;
}

.steps-section {
    padding-left: 2.2%;
    padding-right: 4.8%;
}

